.details{
    background-color: #1b1a17;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typewriter {
    color: white;
    width: auto;
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   
    animation: 
      typing 15.5s steps(100, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }